@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    background-color: #fef9f6;
    font-family: 'Montserrat', sans-serif;
}
html, body{       height: 100%;     }   
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
